/**/
/* style.less : BobbyRoe.com :: July 2015 */
/**/
@import 'elements.less';

@bg_color: #202020;
@textColor: #E0E0E0;
@headerTextColor: #707070;
@projectTextColor: #707070;
@brighterTextColor: #909090;
@linkColor: #0099FF;
@linkBright: #00CCFF;
@HotColor: #FFCC00;
@catBGColor: #000;
@catTextColor: #808080;

// lighter

@bg_color: #fff;
@textColor: #000;
@headerTextColor: #707070;
@projectTextColor: #202020;
@brighterTextColor: #404040;
@linkColor: #0044AA;
@linkBright: #139990;
@HotColor: #FF4400; // #0099FF;
@catBGColor: #f0f0f0;
@catTextColor: #909090;

.ArmataNormal (@fontSize: 1.2em) {
	font-weight:normal; 
	font-size:@fontSize; 
	font-family: 'Armata', sans-serif;
}
.NeutonNormal (@fontSize: 1.2em) {
	font-weight:normal; 
	font-size:@fontSize; 
	font-family: 'Neuton', serif;
}
.HelveticaNormal (@fontSize: 1.2em) {
	font-weight: normal;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: @fontSize;
}
body {
	.HelveticaNormal(100%);
	color: @textColor;
	background-color: @bg_color;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#wrapper {
	.transition(0.6s);
	width: 994px;
	margin: 15px auto 0;
	padding: 0;
}

a {
	.transition(0.2s); 
	text-decoration: none;
	color: @linkColor;
	&:hover {
		color: @HotColor; 
	}
}

#nav { 
	margin-bottom: 10px; 
	height:20px;
	ul {
		padding: 0; 
		margin:0;
		list-style:none;
	}
	li {
		margin:0 1.7em 0 0;
		float:left;
		a {
			text-transform:uppercase;  
			letter-spacing:1px;
			.ArmataNormal (1.0em);
			color: @linkColor;
			&:hover {
				text-decoration:none;
				color: @HotColor; 
			}
		}
		&#home a { 
			color: @linkBright; 
		}
	}
}

#header {
	padding:0 0 0 5px;
	height: 60px;
	h2 {
		.ArmataNormal (3em);
		margin: 60px 0;
	}
}

// about heading

#leader {
	width: 100%;
	padding:0 0 0 10px;
	margin:20px 0 20px;
	float: left;
	height: auto;
	font-size:1.2em;
	color: @brighterTextColor;

	#stuff-tainer {
		position: relative;
	
		#stuff {
			.transition(0.5s);
			position: absolute;
			display: inline-block;
			cursor: pointer;
			width: 62px; // "WebGL"
			// border: 1px solid #FFF; // debug
			overflow: hidden;

			.thing {
				background-color: @catBGColor;
				width: auto;
				// border-left: 1px #F00 solid;

				&.disabled {
					color: #B0B0B0;
					cursor: auto;
					&:hover {
						color: #B0B0B0;
					}
				}
			}
		}
	}
}

#content {
	width: 100%;
	padding:0 0 0 10px;
	float: left;
	.project { 
		margin:80px 0 20px; 

		&:first-child {
			margin-top: 40px;
		}
		h2 {
			.transition(0.2s);
			pointer-events: none;
			display:inline-block;
			margin:10px 10px 0 0;
			.ArmataNormal (2.2em);
			color: @linkBright;
		}
		h4 {
			pointer-events: none;
			padding:3px; 
			.ArmataNormal (2em);  
			display:inline-block;
			color: @catTextColor;
			background-color: @catBGColor;
			margin:0;
		}
		p {
			pointer-events: none;
			margin: 5px 0 10px 0;
			font-size:1.2em;
			color: @projectTextColor;
		}

		&.hot {
			h2 {
				color: @HotColor;
			}
		}
	}
	h2#head {
		margin:10px 0 0px 0;
		.ArmataNormal (1.4em); 
		color: @headerTextColor;
	}
}

#about {
	padding:0 10px;
	margin: 0;
	height:150px;
	clear: both;
	h2 {
		margin: 20px 0 0 120px;
		.ArmataNormal (1.6em); 
		color: @headerTextColor; 
	}
	p {
		margin: 10px 0 10px 120px;
		font-size:0.9em;
		color:#B0B0B0; 
		&#foot {
			padding:3px; 
			.ArmataNormal (0.85em);
			float:right;
			display:inline;
			color: @catTextColor; 
			background-color: #000;
		}
	}
}

#footer {
	text-align:right;
	margin: 0;
	color: @catTextColor;
	clear: both;
}
#nav, #footer, #about { padding: 10px; }

strong { 
	text-transform:uppercase; 
	letter-spacing:1px; 
	.ArmataNormal (0.85em); 
	color: @textColor;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/

/* less than 1024px: iPad Portrait!!! */
@media screen and (max-width: 1023px) {
	
	#wrapper {
		width: 738px;
	}
}

/* less than 768px  iPhone Landscape!!! */
@media screen and (max-width: 767px) {

	#wrapper { width: 450px; }
	#leader {
		font-size: 1.2em;
	}
	#content {
		.project {
			h2 { font-size: 1.7em; }
			h4 { font-size: 1.3em; }
			p { font-size: 1.2em; }
		}
	}
}

/* less than 480px  iPhone Portrait!!! */
@media screen and (max-width: 479px) {
	#wrapper { width: 290px; }
	
	#leader {
		font-size: 1.2em;
	}
	#content {
		width: auto;
		float: none;
		.project { 
			h2 { font-size: 1.7em; }
			h4 { font-size: 1.3em; }
			p { font-size: 1.2em; }
		}
	}
	#nav li { 
		margin:0 0.9em 0 0;
		a {
			letter-spacing:1px;
			font-size:0.8em;
		}
	}
}


